.wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.title{
	margin: 30px;
}
.tab {
	font-size: 30px;
	transition: background-color .3s ease-in-out;
	
}
.tab._active {
	background-color: rgb(212, 106, 106);
}
.content {
	font-size: 30px;
	opacity: 0;
	border: 1px solid black;
	transition: opacity .3s ease-in-out, visibility .3s easy ease-in-out;
	width: 200px;
}
.content._active {
	opacity: 1;
}